h1{
      background-color:yellow;
      width:100%;
      height:80px;
      text-align:center;
}
.left{
    width:10%;   
    color:black;
    text-align: left;
}
body{
    background-color:gray;   
}
img {
    max-height: 400px;
    text-align:center;
}
.right{
    text-align:center;   
    width:80%;
    color:black;
}